@import "http://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic|Montserrat:700";
body,
html {
  font-family: 'Ropa Sans', sans-serif;
  height: 100%;
  min-height: 100%;
  background: url(../images/thugpug.jpg) no-repeat bottom left;
  background-attachment: fixed;
}
body a,
html a {
  color: #654e2e;
}
body a:hover,
html a:hover {
  color: #000000;
}
body #wrapper,
html #wrapper {
  max-width: 1200px;
  min-height: 800px;
  border-radius: 0 0 10px 10px;
  background: rgba(251, 242, 227, 0.9);
  margin: 0 auto;
  border-left: 2px solid #654e2e;
  border-right: 2px solid #654e2e;
  border-bottom: 2px solid #654e2e;
}
body #wrapper .brotmenu,
html #wrapper .brotmenu {
  position: relative;
  top: 6px;
  left: 18px;
  line-height: 1em;
  color: #000000;
}
body #wrapper .brotmenu .brotsep,
html #wrapper .brotmenu .brotsep {
  font-size: 3em;
  line-height: inherit;
  vertical-align: text-top;
  margin: 0 5px;
  color: inherit;
}
body #wrapper .brotmenu a,
html #wrapper .brotmenu a {
  line-height: inherit;
  color: inherit;
}
body #wrapper .mainmenu,
html #wrapper .mainmenu {
  position: relative;
  top: 10px;
  background: #ffd79f;
  border-top: 2px solid #654e2e;
  border-bottom: 2px solid #654e2e;
  border-left: 20px solid #654e2e;
  border-right: 20px solid #654e2e;
  height: 70px;
  line-height: 70px;
}
body #wrapper .mainmenu ul,
html #wrapper .mainmenu ul {
  padding: 0 0 0 3px;
}
body #wrapper .mainmenu ul li,
html #wrapper .mainmenu ul li {
  display: inline-block;
  margin: 0 25px 0 0;
}
body #wrapper .mainmenu ul li a,
html #wrapper .mainmenu ul li a {
  font-size: 1.9em;
  display: inherit;
  height: 66px;
  padding: 0 0 0 35px;
}
body #wrapper .mainmenu ul li a:hover,
html #wrapper .mainmenu ul li a:hover {
  text-decoration: none;
}
body #wrapper .mainmenu ul li .act,
html #wrapper .mainmenu ul li .act {
  background: url(../images/hoverpug.png) no-repeat;
}
body #wrapper .submenu,
html #wrapper .submenu {
  position: relative;
  left: 20px;
  top: 200px;
}
body #wrapper .submenu li,
html #wrapper .submenu li {
  list-style-type: none;
}
