
@import "http://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic|Montserrat:700";

@menubackgroundcolor: #ffd79f;
@menuborderweight: 2px;
@menubordercolor:#654e2e;
@menuheight: 70px;


@wrapperborder: 2px solid @menubordercolor;

body, html{

  font-family: 'Ropa Sans',sans-serif;
  a{
    color: @menubordercolor;
  }
  a:hover{
    color: #000000;
  }


  height: 100%;
  min-height: 100%;
  background: url(../images/thugpug.jpg) no-repeat bottom left;
  background-attachment: fixed;
  #wrapper{

    max-width:1200px;
    min-height: 800px;
    border-radius: 0 0 10px 10px;
    background: rgba(251,242,227,.9);
    margin: 0 auto;


    border-left: @wrapperborder;
    border-right: @wrapperborder;
    border-bottom: @wrapperborder;



    .brotmenu{
      position: relative;
      top: 6px;
      left: 18px;
      line-height: 1em;
      color: #000000;

      .brotsep{
        font-size: 3em;
        line-height: inherit;
        vertical-align: text-top;
        margin: 0 5px;
        color: inherit;
      }
      a{
        line-height: inherit;
        color: inherit;
      }
    }

    .mainmenu{
      position: relative;
      top: 10px;
      background: @menubackgroundcolor;
      border-top: @menuborderweight solid @menubordercolor ;
      border-bottom: @menuborderweight solid @menubordercolor ;
      border-left: @menuborderweight*10 solid @menubordercolor ;
      border-right: @menuborderweight*10 solid @menubordercolor ;

      height: @menuheight;
      line-height: @menuheight;

      ul{
        padding: 0 0 0 3px;

        li{
          display: inline-block;
          margin: 0 25px 0 0;

          a{
            font-size: 1.9em;
            display: inherit;
            height: @menuheight - (@menuborderweight*2);
            padding: 0 0 0 35px;
          }

          a:hover{
            text-decoration: none;
          }

          .act{
            background: url(../images/hoverpug.png) no-repeat;


          }

          .act:hover{

          }

        }

      }



    }



    .submenu{
       position: relative;
       left: 20px;
       top: 200px;



        li{
          list-style-type: none;
        }
     }
  }


}